.chart {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.chart__controls {
  margin-bottom: 1.2rem;
}

.chart__controls select {
  width: 100%;
}

.chart__svg {
  display: block;
  height: auto;
  overflow: visible;
  width: 100%;
}

.y-axis line {
  stroke: #ccc;
}

.axis .axis__line {
  stroke: #444;
}

.x-axis text {
  transform: rotate(40deg);
}

.x-axis g.hide-half, .x-axis g.hide-twothirds {
  display: none;
}

.x-axis g.hide-half.text-2n,
.x-axis g.hide-twothirds.text-3n {
  display: block;
}

.chart rect {
  fill: var(--highlight-color);
}

.chart rect:hover {
  fill: var(--highlight-color-tint);
}