#app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.2rem;
  width: 100%;
}

.loading {
  background: url('../../images/spinner.gif') center center no-repeat;
  height: 100%;
  width: 100%;
  text-indent: -999em;
}