:root {
  --body-type-color: #22242C;
  --body-background-color: #f6ffff;
  --highlight-color: #45C1B3;
  --highlight-color-tint: #349393;
}

html {
  height: 100%;
}

body {
  background: var(--body-background-color);
  color: var(--body-type-color);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  height: 100%;
  margin: 0;
}